
body {
  font-family: Meiryo,           /* 游ゴシックが入っていないWindows */
               blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
               'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
               'Segoe UI',       /* Windowsの欧文 */
               YuGothicM,        /* Windows8.1以上は游ゴシック */
               YuGothic,         /* Macの游ゴシック */
               sans-serif;
  font-size: 16px;
  color:#002200;
  background:#CCEEDD;
  width:90%;
  margin:auto;
}

.title_space{
  display: block;
  width: 100%;
  height: 80px;
  margin:1px;
  margin-top:20px;
  background-color: #001100;
}

.title{
  color: #DDDDDD;
  padding-top:22px;
  padding-left:20px;
  font-size: 26px;
}

.title>a{
  background-color: #001100;
  color: #DDDDDD;
  text-decoration:none;
}

.subtitle>a{
  background-color: #001100;
  color: #DDDDDD;
  text-decoration:none;
}




.last_modified{
  text-align:right;
  font-size: 12px;
  margin-bottom:10px;
}


.navigation>ul {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 0px;
  display: block;
  overflow: hidden;
}
.navigation>ul>li {
  box-sizing: border-box;
  width: calc(100% / 5);
  height: 30px;
  line-height: 30px;
  background: #303000;
  border-left: 1px solid white;
  color: white;
  float: left;
  list-style-type: none;
  text-align: center;
  position: relative;
  transition: box-shadow .3s ease-in-out;
}
.navigation>ul>li:first-child() {
  border-left: 0;
}
.navigation>ul>li:hover {
  background-color:#AA0000;
}

.navigation>ul>li>a {
  background: #303000;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navigation>ul>li>a:hover {
  background: #A03000;
}


h1{
  margin-top: 48px;
  margin-bottom: 0px;
  padding-top:4px;
  padding-bottom:4px;
  border-top: 3px solid #775555;
  border-bottom: 3px solid #775555;
  background:#CCCCCC;
  font-size:26px;
  counter-reset:hb;
}

.subtitle{
  font-size:16px;
}

h1:first-child{
  margin-top: 4px;
}


h2::before {
  counter-increment: hb;
  content: counter(hb) " : ";
}

h2{
  margin-top: 24px;
  margin-bottom: 0px;
  border-top: 3px solid #775555;
  font-size: 24px;
  counter-reset:hc;
}


h3::before {
  counter-increment: hc;
  content: counter(hb) "-" counter(hc)" : ";
}

h3{
  margin-top: 22px;
  margin-bottom: 0px;
  border-top: 1px solid #775555;
  font-size: 22px;
  counter-reset:hd;
}


h2+h3{
  margin-top: 4px;
}

h4::before {
  counter-increment: hd;
  content: counter(hb) "-" counter(hc) "-" counter(hd)" : ";
}

h4{
  margin-top: 20px;
  margin-bottom: 0px;
  border-top: 1px dotted #775555;
  font-size: 20px;
  counter-reset:he;
}

.hidden_show>h4:first-child{
  margin-top: 4px;
}

h3+h4{
  margin-top: 4px;
}

h5::before {
  counter-increment: he;
  content: counter(hb) "-" counter(hc) "-" counter(hd) "-" counter(he)" : ";
}


h5{
  margin-top: 18px;
  margin-bottom: 0px;
  border-top: 1px dotted #775555;
  font-size: 18px;
  font-weight:bold;
  counter-reset:hf;
}

h4+h5{
  border-top: none;
  margin-top: 0px;
}

h6::before {
  counter-increment: hf;
  content: counter(hb) "-" counter(hc) "-" counter(hd) "-" counter(he) "-" counter(hf) " : ";
}

h6{
  margin-top: 16px;
  margin-bottom: 0px;
  border-top: 1px dotted #AACCAA;
  font-size: 16px;
}

h5+h6{
  border-top: none;
  margin-top: 0px;
}
+
ul{
  margin:0px;
  padding:0px;
}

ol{
  margin:0px;
  padding:0px;
}

dl{
  margin-top:10px;
  margin-bottom:10px;
  padding:0px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-color:#773300;
}

dt{
  border-top: 1px solid #000000;
  font-weight:bold;
  border-color:#773300;
}

dd{
  border-top: 1px dotted #000000;
  border-color:#773300;
}

a{
  background:#AACCBB;
  text-decoration:none;
  color:#660000;
}
a:hover{
  background:#A03000;
  color:white;
}

pre{
  margin:10px;
  padding:10px;
  color:white;
  background:#446655;
  font-size: 14px;
}

/*全体*/
.hidden_box {
    margin: 0px;/*前後の余白*/
    padding: 0px;
}

/*ボタン装飾*/
.hidden_box label {
    font-weight: bold;
    cursor :pointer;
    position:relative;
    top :-28px;
    left:-28px;
    margin: 0px;
    padding: 0px;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
    margin: 0px;
    padding: 0px;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
    margin-top:-20px;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    height: auto;
    opacity: 1;
    background:#DDFFEE;
}

.end_of_page {
  display: block;
  width: 100%;
  height: 10px;
  margin:1px;

  margin-top:50px;
  margin-bottom:100px;
  background-color: #336633;

  border-bottom: 10px solid #003300;
}

